<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/main' ? 'active' : '' %>" href="/main">main page</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/deposit' ? 'active' : '' %>" href="/deposit">deposit</a>
            </li>

            <li class="main-header__item">
                <a class="<%= path === '/transfer' ? 'active' : '' %>" href="/transfer">transfer</a>
            </li>

        </ul>
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">login</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">signup</a>
            </li>

            <li class="main-header__item">
                <form action="/logout" method="post">
                    <button type="submit">logout</button>
                </form>
            </li>

        </ul>
    </nav>
</header>